@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bg-violet-gradient {
  background: linear-gradient(
    144.39deg,
    rgba(105, 79, 142, 0.6) 0%,
    rgba(64, 63, 66, 0.6) 100%
  );
}
@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}

.animate-float-up {
  animation: floatUp 2s ease-in-out forwards;
  animation-delay: 18s;
}

.fade-out {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

